.cart{
    display: flex;
    justify-content: center;
}

.cart__container{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    position: relative;
}

.cart__name{
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.cart__item{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #696969;
}

.cart__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart__text{
    font-size: 28px;
    font-weight: 500;
    color: #061068;
}

.cart__image{
    width: 400px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.cart__amount-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000c7c;
    min-width: 250px;
}

.cart__input{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    text-align: center;
    padding: 8px 10px;
    color: #061068;
}

.cart__input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.cart__amount-button{
    font-size: 24px;
    font-weight: 500;
    padding: 5px 20px;
    color: #ffffff;
    border: none;
    background: #000c7c;
    cursor: pointer;
    transition: color .2s, background .2s;
}

.cart__amount-button:hover{
    color: #061068;
    background: #ffffff;
}

.cart__callback-link{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #061068;
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #061068;
    border-radius: 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: background .5s, color .5s;
}

.cart__callback-link:hover{
    background-color: #061068;
    color: #ffffff;
}

.cart__make-order{
    padding: 10px 15px;
    background: transparent;
    color: #061068;
    border: 2px solid #061068;
    border-radius: 2px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1);
    transition: background .5s, color .5s, transform .5s;
}

.cart__make-order:hover{
    background-color: #061068;
    color: #ffffff;
}

.cart__make-order:active{
    transform: scale(.95);
}

.cart__total{
    text-align: end;
    padding: 10px 10px 10px 0;
}