.contacts{
    width: 100%;
    margin: 0 0 20px 0 ;
}

.contacts__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.map{
    max-width: 500px;
    width: 100%;
    height: 500px;
    border: 1px solid #595959;
    box-shadow: 0 0 10px 2px #000c7c;
    cursor: pointer;
    transition: box-shadow .5s;
}

.map:hover{
    box-shadow: 0 0 10px 5px #000c7c;
}

.map::before{
    content: 'Здесь должна быть карта';
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}