.gallery{
    display: flex;
    justify-content: center;
}

.gallery__container{
    display: flex;
    justify-content: flex-start;
}

.gallery__image{
    width: 1000px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
}